@charset "UTF-8";
#container{
	width: 960px;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid red;
}

h1{
	background-color: red;
	font-size: 30px;
	padding: 20px; /*안쪽 여백*/
	margin: 20px; /*바깥쪽 여백 */
	border-color: red;
	border-style: solid;
	border-width: 2px;
	border: 2px red solid;
}
p{
	font-family: 'Noto Sans KR', sans-serif;
}
ol li{
	list-style-type: square;
}
